@tailwind base;
@tailwind components;
@tailwind utilities;

.home-main {
  background-image: url("/backgrounds/world-sm.jpg");
}

.destination-main {
  background-image: url("/backgrounds/background-destination-mobile.jpg");
}
.crew-main {
  background-image: url("/backgrounds/background-crew-mobile.jpg");
}
.technology-main {
  background-image: url("/backgrounds/background-technology-mobile.jpg");
}
@media (min-width: 768px) {
  .crew-main {
    background-image: url("/backgrounds/background-crew-tablet.jpg");
  }
  .destination-main {
    background-image: url("/backgrounds/background-destination-tablet.jpg");
  }
  .technology-main {
    background-image: url("/backgrounds/background-technology-tablet.jpg");
  }
}
.swiper-pagination-bullet {
  margin: 0 8px !important;
}
@media (min-width: 1024px) {
  .home-main {
    background-image: url("/backgrounds/world-lg.jpg");
  }
  .crew-main {
    background-image: url("/backgrounds/background-crew-desktop.jpg");
  }
  .destination-main {
    background-image: url("/backgrounds/background-destination-desktop.jpg");
  }
  .technology-main {
    background-image: url("/backgrounds/background-technology-desktop.jpg");
  }
  .swiper-pagination-bullet {
    margin: 0 12px !important;
  }
}
/* 
.swiper-pagination-bullets {
  bottom: 94px !important;
  left: auto !important;
  width: auto !important;
} */

.swiper-pagination-desk {
  text-align: left !important;
}

.swiper-pagination-mobile,
.swiper-pagination-tablette {
  bottom: 0 !important;
}
.swiper-pagination-bullet-active {
  background: white !important;
}
